.anchorPane{
   -fx-background-image: url("backgroundImage.jpeg");
   -fx-background-repeat: stretch;
   -fx-background-size: auto;
}
.split-pane-divider {
   -fx-background-color: transparent;
}
.label{
   -fx-text-fill: #FFFFFF;
}
.button{
   -fx-background-color: #5B5B5B;
   -fx-border-size: 10;
   -fx-border-color: #000000;
   -fx-text-fill: #FFFFFF;
}